{
    "openapi": "3.1.0",
    "info": {
        "title": "Commvoice API",
        "version": "1"
    },
    "servers": [
        {
            "url": "https:\/\/api.comm.com\/api",
            "description": "Live"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "\/v1\/voice\/post-processing": {
            "get": {
                "operationId": "voice.post-processing.index",
                "tags": [
                    "AgentPostProcessing"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `AgentPostProcessingResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/AgentPostProcessingResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "voice.post-processing.store",
                "tags": [
                    "AgentPostProcessing"
                ],
                "requestBody": {
                    "description": "`AgentPostProcessingMetaDataRequest`",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AgentPostProcessingMetaDataRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            }
        },
        "\/v1\/voice\/post-processing\/{postProcessing}": {
            "get": {
                "operationId": "voice.post-processing.show",
                "tags": [
                    "AgentPostProcessing"
                ],
                "parameters": [
                    {
                        "name": "postProcessing",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "voice.post-processing.update",
                "tags": [
                    "AgentPostProcessing"
                ],
                "parameters": [
                    {
                        "name": "postProcessing",
                        "in": "path",
                        "required": true,
                        "description": "The post processing ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "`AgentPostProcessingMetaDataRequest`",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AgentPostProcessingMetaDataRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AgentPostProcessing`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AgentPostProcessing"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "voice.post-processing.destroy",
                "tags": [
                    "AgentPostProcessing"
                ],
                "parameters": [
                    {
                        "name": "postProcessing",
                        "in": "path",
                        "required": true,
                        "description": "The post processing ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/voice\/post-processing\/{postProcessing}\/run": {
            "post": {
                "operationId": "agentPostProcessing.testRun",
                "tags": [
                    "AgentPostProcessing"
                ],
                "parameters": [
                    {
                        "name": "postProcessing",
                        "in": "path",
                        "required": true,
                        "description": "The post processing ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "call_id": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "call_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/voice\/post-processing\/{postProcessing}\/run-logs": {
            "post": {
                "operationId": "agentPostProcessing.runLogs",
                "tags": [
                    "AgentPostProcessing"
                ],
                "parameters": [
                    {
                        "name": "postProcessing",
                        "in": "path",
                        "required": true,
                        "description": "The post processing ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "run_id": {
                                                        "type": "string"
                                                    },
                                                    "last_run": {
                                                        "type": "string"
                                                    },
                                                    "agent_tools_count": {
                                                        "type": "integer"
                                                    },
                                                    "agent_post_processing_id": {
                                                        "type": "string"
                                                    },
                                                    "agent_id": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "run_id",
                                                    "last_run",
                                                    "agent_tools_count",
                                                    "agent_post_processing_id",
                                                    "agent_id"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/voice\/post-processing\/{postProcessing}\/tool-logs": {
            "post": {
                "operationId": "agentPostProcessing.toolLogs",
                "tags": [
                    "AgentPostProcessing"
                ],
                "parameters": [
                    {
                        "name": "postProcessing",
                        "in": "path",
                        "required": true,
                        "description": "The post processing ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "run_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    }
                                },
                                "required": [
                                    "run_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "agent_id": {
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "type": "string"
                                                    },
                                                    "call_id": {
                                                        "type": "string"
                                                    },
                                                    "agent_tool_id": {
                                                        "type": "string"
                                                    },
                                                    "meta": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "agent_id",
                                                    "created_at",
                                                    "call_id",
                                                    "agent_tool_id",
                                                    "meta"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/voice\/agents\/{agent}\/prompts": {
            "get": {
                "operationId": "voice.prompts.index",
                "tags": [
                    "AgentPrompts"
                ],
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "description": "The agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `AgentPromptResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/AgentPromptResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "voice.prompts.store",
                "tags": [
                    "AgentPrompts"
                ],
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "description": "The agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "welcome_message": {
                                        "type": "string"
                                    },
                                    "prompt": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "voice_id": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "voice_name": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    }
                                },
                                "required": [
                                    "welcome_message"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`AgentPromptResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/AgentPromptResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Failed to create prompt"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "An error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": ""
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/voice\/agents\/{agent}\/prompts\/{prompt}": {
            "put": {
                "operationId": "voice.prompts.update",
                "tags": [
                    "AgentPrompts"
                ],
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "description": "The agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "prompt",
                        "in": "path",
                        "required": true,
                        "description": "The prompt ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "welcome_message": {
                                        "type": "string"
                                    },
                                    "prompt": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "voice_id": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "voice_name": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AgentPromptResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/AgentPromptResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Failed to update prompt"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "An error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": ""
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "delete": {
                "operationId": "voice.prompts.destroy",
                "tags": [
                    "AgentPrompts"
                ],
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "description": "The agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "prompt",
                        "in": "path",
                        "required": true,
                        "description": "The prompt ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Failed to delete prompt"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "An error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": ""
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/voice\/tools": {
            "get": {
                "operationId": "voice.tools.index",
                "tags": [
                    "AgentTools"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `AgentToolsResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/AgentToolsResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "voice.tools.store",
                "tags": [
                    "AgentTools"
                ],
                "requestBody": {
                    "description": "`AgentToolMetaDataRequest`",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AgentToolMetaDataRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AgentToolsResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/AgentToolsResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            }
        },
        "\/v1\/voice\/tools\/{tool}": {
            "put": {
                "operationId": "voice.tools.update",
                "tags": [
                    "AgentTools"
                ],
                "parameters": [
                    {
                        "name": "tool",
                        "in": "path",
                        "required": true,
                        "description": "The tool ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "`AgentToolMetaDataRequest`",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AgentToolMetaDataRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AgentToolsResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/AgentToolsResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "voice.tools.destroy",
                "tags": [
                    "AgentTools"
                ],
                "parameters": [
                    {
                        "name": "tool",
                        "in": "path",
                        "required": true,
                        "description": "The tool ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/webhooks\/calls\/hangup": {
            "get": {
                "operationId": "agents.hangupCallByNumber",
                "tags": [
                    "Agents"
                ],
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "to_number",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Failed to hang up call"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Call ended successfully"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Invalid number or team"
                                                }
                                            },
                                            "required": [
                                                "error"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Missing number or team"
                                                }
                                            },
                                            "required": [
                                                "error"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/v1\/webhooks\/agents\/tools\/execute": {
            "get": {
                "operationId": "agents.toolExecute",
                "tags": [
                    "Agents"
                ],
                "parameters": [
                    {
                        "name": "tool_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "call_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "team_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Tool executed successfully"
                                        },
                                        "tool_result": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message",
                                        "tool_result"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Failed to execute tool"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            }
        },
        "\/v1\/voice\/agents": {
            "get": {
                "operationId": "voice.agents.index",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `AgentResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/AgentResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "voice.agents.store",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "description": "`AgentMetaDataRequest`",
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AgentMetaDataRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`AgentResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/AgentResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Failed to create agent"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            }
        },
        "\/v1\/voice\/agents\/{agent}": {
            "put": {
                "operationId": "voice.agents.update",
                "tags": [
                    "Agents"
                ],
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "description": "The agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "`AgentMetaDataRequest`",
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/AgentMetaDataRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AgentResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/AgentResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Failed to update agent"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "delete": {
                "operationId": "voice.agents.destroy",
                "tags": [
                    "Agents"
                ],
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "description": "The agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "null"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Failed to delete agent"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/voice\/agents\/{agent}\/duplicate": {
            "post": {
                "operationId": "voice.agents.duplicate",
                "tags": [
                    "Agents"
                ],
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "description": "The agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "`AgentResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#\/components\/schemas\/AgentResource"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/voice\/agents\/{agent}\/generate\/conversations": {
            "post": {
                "operationId": "voice.agents.generate-conversations",
                "tags": [
                    "Agents"
                ],
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "description": "The agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "language": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 10
                                    },
                                    "conversations_count": {
                                        "type": [
                                            "integer",
                                            "null"
                                        ],
                                        "minimum": 1,
                                        "maximum": 10
                                    },
                                    "user_behavior": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "user_behavior"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "conversations": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "conversations"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/voice\/agents\/{agent}\/chat": {
            "post": {
                "operationId": "voice.agents.chat",
                "tags": [
                    "Agents"
                ],
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "description": "The agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "message": {
                                        "type": "string",
                                        "maxLength": 500
                                    },
                                    "language": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 10
                                    },
                                    "conversation_history": {
                                        "type": [
                                            "array",
                                            "null"
                                        ],
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "role": {
                                                    "type": "string",
                                                    "enum": [
                                                        "user",
                                                        "agent"
                                                    ]
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "message"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Failed to generate chat response. Please try again."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/voice\/agents\/{agent}\/create\/prompt": {
            "post": {
                "operationId": "voice.agents.create-prompt",
                "tags": [
                    "Agents"
                ],
                "parameters": [
                    {
                        "name": "agent",
                        "in": "path",
                        "required": true,
                        "description": "The agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "description": {
                                        "type": "string",
                                        "maxLength": 5000
                                    }
                                },
                                "required": [
                                    "description"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Failed to generate agent prompt. Please try again."
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "prompt": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "prompt"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/voice\/agents\/hangup-call": {
            "post": {
                "operationId": "agents.hangupCall",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "call_id": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "call_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Failed to hang up call"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Call ended successfully"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/voice\/agents\/voices": {
            "post": {
                "operationId": "agents.voices",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "search": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/voice\/agents\/test-call": {
            "post": {
                "operationId": "agents.testCall",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "from_number": {
                                        "type": "integer"
                                    },
                                    "to_number": {
                                        "type": "integer"
                                    },
                                    "greeting_message": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "prompt": {
                                        "type": "string"
                                    },
                                    "tools": {
                                        "type": [
                                            "array",
                                            "null"
                                        ],
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "agent_id": {
                                        "type": "string"
                                    },
                                    "voice_id": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "language": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    }
                                },
                                "required": [
                                    "from_number",
                                    "to_number",
                                    "prompt",
                                    "agent_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "call_id": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "call_id"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string",
                                                    "example": "Failed to create call"
                                                }
                                            },
                                            "required": [
                                                "error"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "error": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "error"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "An error",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": "Greeting message is required when start_with_greeting is enabled."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/analytics\/filters": {
            "get": {
                "operationId": "dataGrid.filters",
                "description": "Example response:\n```json\n{\n\"data\": [\n{\n\"label\": \"Sms Id\",\n\"key\": \"sms_id\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Team Id\",\n\"key\": \"team_id\",\n\"type\": \"text\",\n\"canGroup\": true,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Updated Datetime\",\n\"key\": \"updated_datetime\",\n\"type\": \"date\",\n\"canGroup\": false,\n\"operators\": [\n\"equals\",\n\"notEqual\",\n\"greaterThan\",\n\"lessThan\",\n\"inRange\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Sms Campaign Id\",\n\"key\": \"sms_campaign_id\",\n\"type\": \"text\",\n\"canGroup\": true,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Sms Campaign Send Id\",\n\"key\": \"sms_campaign_send_id\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Segment Id\",\n\"key\": \"segment_id\",\n\"type\": \"text\",\n\"canGroup\": true,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Contact Id\",\n\"key\": \"contact_id\",\n\"type\": \"text\",\n\"canGroup\": true,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Phone\",\n\"key\": \"phone_normalized\",\n\"type\": \"text\",\n\"canGroup\": true,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Network Id\",\n\"key\": \"network_id\",\n\"type\": \"number\",\n\"canGroup\": true,\n\"operators\": [\n\"equals\",\n\"notEqual\",\n\"lessThan\",\n\"lessThanOrEqual\",\n\"greaterThan\",\n\"greaterThanOrEqual\",\n\"inRange\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Country Id\",\n\"key\": \"country_id\",\n\"type\": \"number\",\n\"canGroup\": true,\n\"operators\": [\n\"equals\",\n\"notEqual\",\n\"lessThan\",\n\"lessThanOrEqual\",\n\"greaterThan\",\n\"greaterThanOrEqual\",\n\"inRange\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Foreign Id\",\n\"key\": \"foreign_id\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Fail Reason\",\n\"key\": \"fail_reason\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Sent\",\n\"key\": \"is_sent\",\n\"type\": \"number\",\n\"canGroup\": false,\n\"operators\": [\n\"equals\",\n\"notEqual\",\n\"lessThan\",\n\"lessThanOrEqual\",\n\"greaterThan\",\n\"greaterThanOrEqual\",\n\"inRange\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Is Clicked\",\n\"key\": \"is_clicked\",\n\"type\": \"number\",\n\"canGroup\": false,\n\"operators\": [\n\"equals\",\n\"notEqual\",\n\"lessThan\",\n\"lessThanOrEqual\",\n\"greaterThan\",\n\"greaterThanOrEqual\",\n\"inRange\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Is Lead\",\n\"key\": \"is_lead\",\n\"type\": \"number\",\n\"canGroup\": false,\n\"operators\": [\n\"equals\",\n\"notEqual\",\n\"lessThan\",\n\"lessThanOrEqual\",\n\"greaterThan\",\n\"greaterThanOrEqual\",\n\"inRange\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Is Sale\",\n\"key\": \"is_sale\",\n\"type\": \"number\",\n\"canGroup\": false,\n\"operators\": [\n\"equals\",\n\"notEqual\",\n\"lessThan\",\n\"lessThanOrEqual\",\n\"greaterThan\",\n\"greaterThanOrEqual\",\n\"inRange\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Unsubscribed Method\",\n\"key\": \"unsubscribed_method\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Domain Id\",\n\"key\": \"domain_id\",\n\"type\": \"text\",\n\"canGroup\": true,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Shortened Url\",\n\"key\": \"shortened_url\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Offer Id\",\n\"key\": \"offer_id\",\n\"type\": \"text\",\n\"canGroup\": true,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Campaign Text Id\",\n\"key\": \"campaign_text_id\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Final Text\",\n\"key\": \"final_text\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Text Parts\",\n\"key\": \"text_parts\",\n\"type\": \"number\",\n\"canGroup\": false,\n\"operators\": [\n\"equals\",\n\"notEqual\",\n\"lessThan\",\n\"lessThanOrEqual\",\n\"greaterThan\",\n\"greaterThanOrEqual\",\n\"inRange\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Sms Routing Plan Id\",\n\"key\": \"sms_routing_plan_id\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Sms Routing Plan Rule Id\",\n\"key\": \"sms_routing_plan_rule_id\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Sms Routing Route Id\",\n\"key\": \"sms_routing_route_id\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Sms Rule Selected Data\",\n\"key\": \"sms_rule_selected_data\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Sender Id\",\n\"key\": \"sender_id\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Sender Id Id\",\n\"key\": \"sender_id_id\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Sms Parts\",\n\"key\": \"sms_parts\",\n\"type\": \"number\",\n\"canGroup\": false,\n\"operators\": [\n\"equals\",\n\"notEqual\",\n\"lessThan\",\n\"lessThanOrEqual\",\n\"greaterThan\",\n\"greaterThanOrEqual\",\n\"inRange\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Dlr Code\",\n\"key\": \"dlr_code\",\n\"type\": \"number\",\n\"canGroup\": false,\n\"operators\": [\n\"equals\",\n\"notEqual\",\n\"lessThan\",\n\"lessThanOrEqual\",\n\"greaterThan\",\n\"greaterThanOrEqual\",\n\"inRange\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Dlr Str\",\n\"key\": \"dlr_str\",\n\"type\": \"text\",\n\"canGroup\": false,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Sent At\",\n\"key\": \"sent_at\",\n\"type\": \"date\",\n\"canGroup\": false,\n\"operators\": [\n\"equals\",\n\"notEqual\",\n\"greaterThan\",\n\"lessThan\",\n\"inRange\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Time Clicked\",\n\"key\": \"time_clicked\",\n\"type\": \"date\",\n\"canGroup\": false,\n\"operators\": [\n\"equals\",\n\"notEqual\",\n\"greaterThan\",\n\"lessThan\",\n\"inRange\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Campaign Name\",\n\"key\": \"campaign_name\",\n\"type\": \"text\",\n\"canGroup\": true,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Network Brand\",\n\"key\": \"network_brand\",\n\"type\": \"text\",\n\"canGroup\": true,\n\"operators\": [\n\"contains\",\n\"notContains\",\n\"equals\",\n\"notEqual\",\n\"startsWith\",\n\"endsWith\",\n\"blank\",\n\"notBlank\"\n]\n},\n{\n\"label\": \"Ctr\",\n\"key\": \"ctr\",\n\"type\": \"number\",\n\"canGroup\": false,\n\"operators\": [\n\"equals\",\n\"notEqual\",\n\"lessThan\",\n\"lessThanOrEqual\",\n\"greaterThan\",\n\"greaterThanOrEqual\",\n\"inRange\",\n\"blank\",\n\"notBlank\"\n]\n}\n]\n}\n```",
                "summary": "analytics.filters",
                "tags": [
                    "Analytics",
                    "DataGrid"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "sms_contacts",
                                "sms_reports",
                                "route_company",
                                "connected_routes"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of `DataGridFilterResource`",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/DataGridFilterResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/v1\/webhooks\/audience\/feed": {
            "post": {
                "operationId": "webhooks.audience.feed",
                "tags": [
                    "AudienceFeeds"
                ],
                "requestBody": {
                    "description": "`ContactFeedDataRequest`",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/ContactFeedDataRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            }
        },
        "\/v1\/audience\/feeds\/logs": {
            "get": {
                "operationId": "audience.feeds.logs",
                "tags": [
                    "AudienceFeeds"
                ],
                "parameters": [
                    {
                        "name": "feed_id",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
[...]
